.active {
  background-color: green;
}

#elem {
  background-color: red;
}

* {
  box-sizing: border-box;
}

form {
  background-color: #eee;
  padding: 10px 20px;
}

input {
  padding: 5px 10px;
  border: 3px solid green;
  border-radius: 4px;
  width: 100%;
  margin: 10px 0px;
}

input::placeholder {
  color: black;
}

form > input {
  display: block;
}

button {
  border: 3px solid green;
  background-color: green;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
}

label {
  font-weight: bold;
}

[name="gender"] {
  display: inline;
  width: 50px;
  background-color: blue;
}

[name="fullname"] {
  background-color: blue;
}

input {
  background-color: yellow;
}

button:hover {
  background-color: blue;
}

button:focus {
  background-color: yellow;
}

button:active {
  background-color: grey;
}
