body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  color: #6161ff;
}

* {
  box-sizing: border-box;
}

h2 {
  margin: 0;
}

a {
  color: #6161ff;
  text-decoration: none;
}

main {
  background-color: #000;
  min-height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
}

main > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  top: 1rem;
  padding: 0.3rem;
  background-color: #b2b2ff;
}

input {
  background-color: #000;
  border: 2px solid #6161ff;
  padding: 0.5rem 1rem;
  color: #6161ff;
  width: 100%;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
}

input::placeholder {
  color: #6161ff;
  font-family: "Roboto Mono", monospace;
}

input:focus,
input:active {
  outline: 2px solid #6161ff;
  animation: animate-input 1.5s infinite linear;
}

[type="button"],
[type="submit"] {
  background-color: #6161ff;
  padding: 0.5rem 1rem;
  width: 100%;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-family: "Roboto Mono", monospace;
}

[type="button"] {
  width: max-content;
}

[type="button"]:hover,
[type="submit"]:hover {
  background-color: #3e3efc;
}

form {
  max-width: 300px;
  width: 100%;
}

form > div {
  padding: 0.5rem 0rem;
  text-align: center;
}

@keyframes animate-input {
  0% {
    background-color: black;
    color: #6161ff;
  }
  50% {
    background-color: #6161ff;
    color: black;
  }
  100% {
    background-color: black;
    color: #6161ff;
  }
}
